:root {
    --bg: #000;
    --text: #fff;
    --accent: #ff7a00;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}

body {
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    line-height: 1;
}

a {
    color: var(--text);
    text-decoration: none
}


/* NAV */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: center;
    border-bottom: 1px solid;
    border-color:var(--accent);
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 100px;
}

nav ul li {
    transition: transform 0.3s, filter 0.3s ease-in-out;}
nav ul li:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

nav ul li a {
    font-size: 1.5rem;
    font-weight: bold;
}


.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
    top: 25%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  background-color: #f38b31;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

#scrollTopBtn.show {
  opacity: 0.6;
  transform: translateY(0);
}

#scrollTopBtn:hover {
  opacity: 1;
  background-color: var(--accent);
}


/* SECTIONS */
section {
    padding: 80px 20px;
    
}
section h2 {
    text-align: center;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("coperta.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;    
    border-bottom: 1px solid;
    border-color:var(--accent);
}

.hero-logo {
    display: block;
    margin: 0 auto 0 auto;
    width: 30%;
    animation: fadeInRight 0.3s;
}

.t1 {
    text-align: center;
    animation: fadeInUp 0.3s;
}

.p1 {
    text-align: center;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    animation: fadeInLeft 0.3s;
}

h1,
h2 {
    font-size: 2rem;
    color: var(--accent);
    text-transform: uppercase;
}

.btn {
    border-radius: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.3s, filter 0.3s ease-in-out;
    animation: bounceInUp 0.3s;
    font-size: 1.5rem;
}
.btn:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}

.btn-comanda {
    display: inline-block;
    background: var(--accent);
    color: #ffffff;
    padding: 12px 20px;
    font-weight: bold;
    width: auto;
    margin: 0 auto;
}

#despre h2 {
    animation: slideInLeft 0.5s;
}

.grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    gap: 20px;
}

.card:nth-child(1) {
    animation: slideInRight 0.3s;
}
.card:nth-child(2) {
    animation: slideInLeft 0.3s;
}
.card:nth-child(3) {
    animation: slideInRight 0.3s;
}
.card:nth-child(4) {
    animation: slideInLeft 0.3s;
}
.card:nth-child(5) {
    animation: fadeInUp 0.3s;
}

.card {
    border: 1px solid #353535;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s, color 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.03);
  border-color: var(--accent);
}
.card h3 {
    text-align: left;
    color: var(--accent);
    margin-bottom: 1rem;
    font-size:1.5rem;
}
.card p {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.2;
}

#meniu h2 {
    animation: fadeInDown 0.3s;
}
#meniu .p1 {
    animation: fadeInUp 0.3s;
}

.menu-gallery {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-item h2 {
  margin-bottom: 10px; /* spațiu între titlu și poză */
  color: #f38b31;
  font-size: 1.5rem;
}

.menu-thumb {
  width: 400px;
  max-width: 90%;
  cursor: pointer;
  border: 2px solid #f38b31;
  border-radius: 8px;
  transition: transform 0.3s;
}

.menu-thumb:hover {
  transform: scale(1.03);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.bestseller {
    animation: fadeIn 0.3s;
}

.menu-thumb:nth-child(1) {
    animation: slideInLeft 0.3s;
}
.menu-thumb:nth-child(2) {
    animation: slideInRight 0.3s;
}

.meniu2 .menu-thumb {
    animation: slideInUp 0.3s;
}


#locatie h2 {
    animation: fadeInUp 0.3s;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.map-container iframe {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  border: solid 2px;
  border-color: var(--accent);
}


#reviewsclienti h2 {
    animation: fadeInDown 0.3s;
}

.reviews {
    font-style: italic;
    margin: auto;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--accent);
    width: 70%;
}

#contact {
    text-align: center;
    padding-top: 0;
}
#contact a {
    margin: 1rem;
    font-size: 1.5rem;
}

.social-media {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icon i{
  transition: transform 0.1s, filter 0.1s;
}
.social-media i {
    font-size: 4rem;
}
.social-media i:hover {
    color: var(--accent);
}

.social-icon:hover i {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.facebook{
    animation: fadeInUp 0.3s;
    animation-delay: 0.5s;
}
.instagram{
    animation: fadeInUp 0.3s;
    animation-delay: 0.8s;
}
.tiktok{
    animation: fadeInUp 0.3s;
    animation-delay: 1s;
}


footer {
    border-top: 1px solid;
    border-color: var(--accent);
    padding: 20px;
    text-align: center
}

/* MOBILE */
@media(max-width:768px) {

    header {
        padding: 30px;
    }

    .hero {
        background-position: right center;
    }

    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        /* reglezi opacitatea aici */
        z-index: 1;
    }

    .hero>* {
        position: relative;
        z-index: 2;
    }

    .hero-logo {
        width: 70%;
    }

nav ul {
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    flex-direction: column;
    background: #000000ab;
    border: 1px solid #f38b31;
    padding: 0; /* animăm padding separat */
    text-align: center;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

nav ul.show {
    max-height: 500px; /* cât e nevoie ca să încapă toate link-urile */
    opacity: 1;
    padding: 15px;
}

    .hamburger {
        display: block;
    }

    .grid {
        width: 80%;
    }
    .card h3 {
        text-align: center;
    }

    .reviews {
        width: 100%;
    }

}

